
    <ul class="navbar">
        <li>
            <a href="/">首页</a>
        </li>

        <li>
            <a href="<%- url_for('2024/03/04/research') %>">研究</a>
        </li>

        <li>
            <a href="<%- url_for('2024/03/04/programs') %>">程序</a>
        </li>

        <li>
            <a href="<%- url_for('2024/03/04/knowledge') %>">整理</a>
        </li>

        <li>
            <a href="<%- url_for('2024/03/04/about-me') %>">简介</a>
        </li>

    </ul>