
<div class="navbar">
    <a href="/">首页</a>

    <a href="<%- url_for('research') %>">研究</a>

    <a href="<%- url_for('programs') %>">程序</a>

    <a href="<%- url_for('knowledge') %>">整理</a>

    <a href="<%- url_for('2024/03/04/about-me') %>">简介</a>
</div>