
    <ul>
        <li>
            <a href="/">YouTian</a>
        </li>

        <li>
            <a href="<%- url_for('/index.html') %>">研究</a>
        </li>

        <li>
            <a href="<%- url_for('2021/05/16/others-index') %>">整理</a>
        </li>

        <li>
            <a href="<%- url_for('/index.html') %>">程序</a>
        </li>

        <li>
            <a href="<%- url_for('2021/05/08/about-me') %>">关于</a>
        </li>

    </ul>